#inner__header{
    .nav__ul{
        border: 1px solid var(--color-secondary);
        li{
            a{
                color: var(--color-secondary);
                &:hover{
                    color: var(--color-primary);
                }
            }
            &:nth-child(2){
                &a::before{
                    display: none;
                }
            }
        }
        .dropdown{
            &:after{
                background-image: url(/assets/svg/Arrow-black-down.svg);
            }
            ul{
                li{
                    a{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .cta__msn{
        background-color: var(--color-secondary);
        color: var(--color-white);
        border-color: var(--color-secondary);
    }
    #logo__main{
        background-image: url(/assets/svg/logo_dark.svg);
        background-repeat: no-repeat;
        background-size: contain;
        img{
            opacity: 0;
        }
    }
}
header{
    background-color: var(--color-white);
}
.navBg{
    background-color: rgba(255, 255, 255, 0.8);
}

#section__hero{
    background-color: var(--color-white);
    padding: 10% 5% 0 5%;
    picture{
        img{
            aspect-ratio: 2/1;
            border-right: 20px solid var(--color-primary);
            object-fit: cover;
        }
    }
}
#section__body{
    padding: 5%;
    width: 100%;
    .column__2{
        gap: 10%;
        .col__left{
            width: 65%;
            span{
                font-size: var(--size-sm);
                a{
                    font-size: var(--size-sm);
                }
            }
            h1{
                width: 100%;
                font-weight: 600;
                margin-top: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid var(--color-primary);
                font-size: var(--size-2xl);
                color: var(--color-secondary);
            }
            h2{
                font-size: var(--size-xl);
            }
            blockquote{
                padding-left: 20px;
                border-left: 3px solid var(--color-primary);
                font-size: var(--size-lg);
                margin: 40px 0;
            }
            img{
                padding: 20px 0;
            }
        }
        .col__right{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 80px;
            .categorias__art{
                width: 100%;
                h2{
                text-transform: uppercase;
                font-size: var(--size-sm);
                font-weight: 400;
                }
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                        margin-bottom: 0;
                        list-style: none;
                        a{
                            width: 100%;
                            margin-bottom: 0;
                            font-size: var(--size-sm);
                            font-weight: 600;
                            padding: 20px 0;
                            border-bottom: 2px solid var(--color-primary);
                        }
                        .active{
                            color: var(--color-primary);
                            border-bottom: 15px solid var(--color-primary);

                        }
                    }
                }
            }
            .art__recientes{
                width: 100%;
                h2{
                text-transform: uppercase;
                font-size: var(--size-sm);
                font-weight: 400;
                }
                ul{
                    width: 100%;
                    li{
                        width: 100%;
                        margin-bottom: 0;
                        padding: 20px 0;
                        list-style: none;
                        border-bottom: 2px solid var(--color-primary);
                        a{
                            margin-bottom: 0;
                            font-size: var(--size-sm);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
.section__contact{
    padding: 5%;
    background-color: var(--color-secondary);
    .column__1{
        h3{
            color: var(--color-white);
        }
        h2{
            color: var(--color-white);
            span{
                text-transform: uppercase;
            }
        }
        h2::first-letter{
            text-transform: uppercase;
        }
    }
    .column__2{
        .col__left{
            .data__wrapper{
                padding: 3% 0;
                li{
                    margin-bottom: 40px;
                }
                .telefono{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
                    h3{
                        color: var(--color-white);
                        margin-bottom: 0;
                    }
                    h3::first-letter{
                        text-transform: uppercase;
                    }
                    p{
                        color: var(--color-primary);
                        margin-bottom: 0;
                    }
                }
                .correo{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
                    h3{
                        color: var(--color-white);
                        margin-bottom: 0;
                    }
                    h3::first-letter{
                        text-transform: uppercase;
                    }
                    p{
                        color: var(--color-primary);
                        margin-bottom: 0;
                    }
                }
                .oficinas{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
                    h3{
                        color: var(--color-white);
                        margin-bottom: 0;
                    }
                    h3::first-letter{
                        text-transform: uppercase;
                    }
                    p{
                        color: var(--color-primary);
                        margin-bottom: 0;
                    }
                }
            }
        }
        .col__right{
            form{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                label{
                    color: var(--color-white);
                }
                button{
                    margin: 0;
                }
                .column__2{
                    .col__left{
                        label{
                            color: var(--color-white);
                            padding-bottom: 20px;
                        }
                    }
                    .col__right{
                        label{
                            color: var(--color-white);
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}