#inner__header .nav__ul li:nth-child(4) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(4) a::before{
    display: block;
}

#section__hero{
    padding: 5%;
    padding-top: calc(60px + 5%);
}

#section__intro{
    padding: 5% 0;
    h1{
        padding: 0 5%;
        width: 100%;
        font-size: var(--size-2xl);
        font-weight: 600;
    }
    ul{
        gap: 0;
    }
    .splide__arrow--next, .splide__arrow--prev{
        top: 10%;
        background-color: var(--color-primary);
        svg{
            fill: var(--color-secondary);
        }
        &:disabled{
            background-color: var(--color-secondary);
            opacity: 1;
            svg{
                fill: var(--color-white);
            }
        }
    }
    .splide__arrow--prev{
        left: calc(100% - 5.5rem);
    }
}

.hide__category .card__category{
    display: none;
}

.paginacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-top: 50px;
}

.paginacion a{
    font-size: var(--size-sm);
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
}

.paginacion a.active{
    pointer-events: none;
}

