#inner__header{
    .nav__ul{
        border: 1px solid var(--color-secondary);
        li{
            a{
                color: var(--color-secondary);
                &:hover{
                    color: var(--color-primary);
                }
            }
            &:nth-child(2){
                &a::before{
                    display: none;
                }
            }
        }
        .dropdown{
            &:after{
                background-image: url(/assets/svg/Arrow-black-down.svg);
            }
            ul{
                li{
                    a{
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .cta__msn{
        background-color: var(--color-secondary);
        color: var(--color-white);
        border-color: var(--color-secondary);
    }
    #logo__main{
        background-image: url(/assets/svg/logo_dark.svg);
        background-repeat: no-repeat;
        background-size: contain;
        img{
            opacity: 0;
        }
    }
}
header{
    background-color: var(--color-white);
}
.navBg{
    background-color: rgba(255, 255, 255, 0.8);
}

#section__hero{
    background-color: var(--color-white);
    padding: 10% 5% 0 5%;
    picture{
        img{
            aspect-ratio: 2/1;
            border-right: 20px solid var(--color-primary);
            object-fit: cover;
        }
    }
}
#section__body{
    padding: 5%;
    width: 100%;
    .column__2{
        gap: 10%;
        .col__left{
            width: 60%;
        }
        .col__right{
            width: 40%;
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
    h1{
        font-size: var(--size-2xl);
        color: var(--color-secondary);
    }
}



.categoria_articulo{
    font-size: var(--size-sm);
    color: var(--color-accent);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.categoria_articulo a{
    font-size: inherit;
    font-weight: 400;
}

#section__main__image{
    position: relative;
}

#section__main__image::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--color-secondary);
    top: 0;
    left: 0;
}