#inner__header .nav__ul li:nth-child(2) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(2) a::before{
    display: block;
}



#section__hero{
    background-color: var(--color-secondary);
    .categoria_producto, p{
        color: var(--color-white);
    }
    h1{
        font-weight: bold;
    }
    .categoria_producto{
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: nowrap;
    }
    .column__2{
        .col__right{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20%;
            .btn{
                text-wrap: nowrap;
            }
        }
    }
}

h1{
    font-size: var(--size-2xl);
    color: var(--color-primary);
}

.categoria_producto{
    font-size: var(--size-sm);
    color: var(--color-accent);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.categoria_producto a{
    font-size: inherit;
    font-weight: 400;
}

#section__main__image{
    position: relative;
    padding: 0 5%;
    max-height: 80vh;
    overflow: hidden;
}

#section__main__image::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--color-secondary);
    top: 0;
    left: 0;
}

#home_twinImg{
    padding: 5%;
    .column__2{
        gap: 5%;
        .col__right, .col__left{
            overflow: hidden;
        }
        .col__left{
            width: 30%;
            picture, img{
                height: 100%;
                width: 100%;
                img{
                    object-fit: cover;
                }
            }
        }
        .col__right{
            width: 70%;
        }
    }
}
#home_descGeneral{
    padding: 5%;
    .column__2{
        .col__left{
            padding-right: 10%;
        }
        .col__right{
            padding-left: 5%;
            flex-direction: row !important;
            gap: 5%;
            p:last-child{
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#home_divisor{
    padding: 5%;
    max-height: 80vh;
    overflow: hidden;
    picture, img{
        width: 100%;
        height: 100%;
    }
}

#product__location{
    #map-container-product{
        width: 100%;
        aspect-ratio: 1/1;
    }
}

#product__amenities{
    background-color: var(--color-primary);
    .amenity__desc{
        max-width: 500px;
        align-self: flex-start;
    }
    ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li{
            text-align: center;
            width: 100%;
            align-items: center;
            picture{
                position: relative;
                aspect-ratio: 1/1;
                max-width: 100px;
                min-width: 50px;
                width: 100%;
                overflow: hidden;
                border-radius: 18px;
                border: 1px solid black;
                img{
                    display: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

#main-carousel-list{
    li{
        picture{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}
#thumbnail-carousel {
    width: 100%;
    ul{
        justify-content: center;
        li{
            width: 100% !important;
            max-width: 200px !important;
            height: 100px !important;
        }
    }
    .splide__slide {
        opacity: 0.6;
        transition: opacity 0.3 ease-in-out;
      }
      .splide__slide.is-active {
        opacity: 1;
        border-color: var(--color-primary);
      }
}

#product__gallery{
    .btn{
        margin-top: 2em;
    }
}
@media screen and (max-width: 1024px) { 
    #home_twinImg{
        .column__2{
            gap: 2vh;
            .col__left, .col__right{
                width: 100%;
            }
        }
    }
    #product__amenities ul{
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media screen and (max-width: 768px) {
    #product__intro{
        .intro__first__child{
            .col__right{
                flex-direction: column;
            }
        }
    }
    #product__amenities ul{
        grid-template-columns: repeat(2, 1fr);
    }   
}