#section__hero{
    padding: 5%;
    padding-top: calc(60px + 5%);
    .column__1{
        align-items: center;
    }
    h1{
        color: var(--color-secondary);
        font-size: var(--size-2xl);
        font-weight: 700;
        max-width: 40%;
        text-align: center;
    }
}

#section__form{
    padding: 0 5%;
    padding-bottom: 5%;
    .column__1{
        align-items: center;
        form{
            max-width: 50%;
        }
    }
}








/*  Tableta  */
@media only screen and (max-width: 1024px) {

    #section__intro .col__left{
        padding-right: 0%;
    }

    form{
        padding: 0%;
    }

}







/*  Móvil  */
@media only screen and (max-width: 768px) {

    form{
        display: flex;
        grid-template-columns: unset;
        grid-template-rows: unset;
        column-gap: unset;
        row-gap: unset;
        grid-auto-rows: unset;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    form > div{
        width: 100%;
    }

    form > div:nth-child(5){
        grid-column: 2 span;
    }

}