#section__hero{
    background-color: var(--color-secondary);
    padding-top: calc(60px + 5%);
    h1{
        color: var(--color-accent);
    }
    h2{
        color: var(--color-white);
        font-size: var(--size-3xl);
    }
    h2 strong{
        color: var(--color-primary-light);
        font-weight: unset;
    }
    p{
        color: var(--color-white);
        font-size: var(--size-md);
    }
    .column__2{
        .col__right{
            position: relative;
        }
    }
    .secondary__img{
        position: absolute;
        clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
        top: 50%;
        right: -40%;
        width: clamp(50%, 400px, 100%);
        transform: translate(-50%, -50%);
    }
    .wrapper__shape__hero{
    position: relative;
    left: -15%;
        .shape__hero{
            clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
            overflow: hidden;
            picture{
                position: relative;
                z-index: 2;
            }
            .shape__hero__video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
            }
        }
        .overlay__shape__hero{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            clip-path: polygon(0 0, 50% 0, 50% 100%, 30% 100%);
        }
    }
}

#section__intro{
    h3{
        width: 100%;
        text-align: start;
        padding: 0;
    }
    .column__1{
        min-height: 50vh;
        justify-content: center;
        .timeline{
            width: 100%;
            min-height: 50vh;
            .list{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 200px;
            }
            .item{
                margin: 0;
                width: 100%;
                position: relative;
                .dot{
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--color-secondary);
                    z-index: 3;
                    &:after{
                        content: "";
                        position: relative;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 25px;
                        aspect-ratio: 1;
                        border-radius: 100%;
                        background-color: var(--color-secondary-light);
                    }
                }
                .line{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-secondary);
                    z-index: 2;
                }
                h3{
                    background-color: var(--color-primary);
                    width: fit-content;
                    padding: 5px 10px;
                    position: absolute;
                    text-wrap: nowrap;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
                    font-size: 16px;
                    text-align: center;
                }
            }
            .item:nth-child(5) .line{
                width: 2px;
                height: 100%;
            }
            .list:nth-child(2n+2){
                direction: rtl;
                .item{
                    .dot::after{
                        left: unset;
                        right: unset;
                    }
                    .line{
                        left: unset;
                        right: 50%;
                    }
                }
            }
        }
    }
}

#home_about_via{
    background-attachment: var(--color-primary-light);
    h3{
        width: 100% !important;
    }
    .column__2{
        .col__left{
            padding-right: 10%;
        }
        .col__right{
            padding-left: 5%;
            flex-direction: row !important;
            gap: 5%;
            p:last-child{
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .column__1{
        align-items: center;
        picture{
            height: 80vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    ul{
        width: 60%;
        li{
            width: 100%;
            text-align: center;
            h2{
                font-weight: 900;
            }
        }
        li:nth-child(2){
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
    }
}

#home_wySelectUs{
    .column__2{
        .col__left{
            padding-right: 10%;
        }
        .col__right{
            padding-left: 5%;
            flex-direction: row !important;
            gap: 5%;
            p:last-child{
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#home_ourMethod{
    background-attachment: var(--color-primary-light);
    padding-top: 5%;
    h3{
        width: 100%;  
    }
    .column__2{
        .col__left{
            padding-right: 5%;
        }
    }
    ul{
        width: 100%;
        li{
            width: 100%;
            h2{
                font-weight: 600;
            }
            div{
                display: flex;
                align-items: center;
                p{
                    width: 50%;
                }
                p:first-child{
                    font-weight: bold;
                }
            }
        }
        li:nth-child(1){
            border-bottom: 1px solid black;
        }
        li:nth-child(2){
            border-bottom: 1px solid black;
        }
    }
    .col__left{
        width: 60% !important;
    }
    .col__right{
        width: 40% !important;
        picture{
            width: 100%;
            aspect-ratio: 2/3;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#home_testy{
    background-attachment: var(--color-primary-light);
    h3{
        width: 100%;
    }
    .column__1{
        position: relative;
        h2{
            width: 100%;
            text-align: center;
            font-weight: 600;
        }
    }
    .testimonials-swiper {
        width: 100%;
        padding: 20px 0;
    }
    .swiper-slide {
        height: auto;
    }
    .testy__card {
        height: auto;
        border-radius: 32px;
        padding: 20px;
        background-color: white;
        border: 1px solid white;
        height: 100%;
        h3{
            font-weight: 500;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        background-color: var(--color-secondary-light);
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .swiper-button-next{
        top: -8%;
    }
    .swiper-button-prev{
        top: -8%;
        left: 93%;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
        content: "";
        display: block;
        width: 24px;
        aspect-ratio: 1/1;
        background-image: url("../assets/svg/Arrow-black.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .swiper-button-next:hover ,.swiper-button-prev:hover{
        background-color: var(--color-black);
        &::after{
            background-image: url("../assets/svg/Arrow-white.svg");
        }
    }
    .swiper-button-next:hover, .swiper-button-prev:hover{
        transform: rotate(180deg);
    }
    .swiper-button-next::after{
        transform: rotate(180deg);
    }
    .swiper-button-prev:hover{
        transform: rotate(180deg);
    }
    .swiper-pagination{
        bottom: -5px;
    }
    .swiper-pagination-bullet{
        background-color: var(--color-primary);
    }
    .stars-container {
        display: flex;
        margin-top: 8px;
        svg{
            width: 10%;
            aspect-ratio: 1;
            path{
                fill: var(--color-primary);
            }
        }
    }
}

#section__productos {
    background-color: var(--color-black);
    h2{
        color: var(--color-white);
        width: 100%;
    }
    .column__1{
        border-top: 1px solid #ccc;
        padding-top: 5%;
        align-items: center;
    }
    ul{
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1300px) {
    #section__hero{
        .secondary__img{
            width: clamp(50%, 300px, 100%);
        }
    }   
}
@media screen and (max-width: 1024px) {
    #home_ourMethod{
        .col__left{
            width: 100% !important;
            padding-right: 0;
        }
        .col__right{
            width: 100% !important;
            padding-left: 0;
            picture{
                width: 100%;
            }
        }
    }
    #section__intro{
        .column__1{
            .timeline{
                .list{
                    grid-template-columns: repeat(3, 1fr);
                }
                .item:nth-child(3) .line{
                    width: 2px;
                    height: 100%;
                }
            }
        }
    }
    #home_testy{
        .column__1{
            width: 100% !important;
            .swiper-button-next, .swiper-button-prev{
                top: 97% !important;
                bottom: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #section__hero{
        .secondary__img{
            width: clamp(50%, 200px, 100%);
        }
    }
    #section__intro{
        .column__1{
            .timeline{
                .list{
                    grid-template-columns: repeat(2, 1fr);
                }
                .item:nth-child(2) .line{
                    width: 2px;
                    height: 100%;
                }
            }
        }
    }
}