#inner__header .nav__ul li:nth-child(2) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(2) a::before{
    display: block;
}



#section__hero{
    background-color: var(--color-secondary);
}

h1{
    font-size: var(--size-2xl);
    color: var(--color-white);
}

.categoria_producto{
    font-size: var(--size-sm);
    color: var(--color-accent);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.categoria_producto a{
    font-size: inherit;
    font-weight: 400;
}

#section__main__image{
    position: relative;
}

#section__main__image::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--color-secondary);
    top: 0;
    left: 0;
}

#product__intro{
    h3{
        width: 100%;
    }
    .column__2{
        .col__right{
            p{
                padding-right: 10%;
            }
            a{
                width: fit-content;
                text-wrap: nowrap;
            }
        }
    }
    .column__2:last-child {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        
        .col__left {
            aspect-ratio: 1/1;
        }
    
        .col__right {
            aspect-ratio: 16/9;
        }
        .col__left, .col__right {
            overflow: hidden;
            width: 100%;
            position: relative;
            picture{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
}

#product__location{
    #map-container-product{
        width: 100%;
        aspect-ratio: 1/1;
    }
}

#product__amenities{
    background-color: var(--color-primary);
    ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        li{
            text-align: center;
            width: 100%;
            align-items: center;
            picture{
                position: relative;
                aspect-ratio: 1/1;
                max-width: 100px;
                min-width: 50px;
                width: 100%;
                overflow: hidden;
                border-radius: 18px;
                img{
                    display: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

#main-carousel-list{
    li{
        picture{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}
#thumbnail-carousel {
    width: 100%;
    ul{
        justify-content: center;
        li{
            width: 100% !important;
            max-width: 200px !important;
            height: 100px !important;
        }
    }
}

@media screen and (max-width: 1024px) { 
    #product__amenities ul{
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media screen and (max-width: 768px) {
    #product__intro{
        .intro__first__child{
            .col__right{
                flex-direction: column;
            }
        }
    }
    #product__amenities ul{
        grid-template-columns: repeat(2, 1fr);
    }   
}