---
eleventyComputed:
    title: "{{ contacto[0].titleseo }}"
    description: "{{ contacto[0].descseo }}"
    keywords: "{{ contacto[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div data-barba="container" data-barba-namespace="contacto" data-css="contacto" data-js="contacto">
{% for item in contacto %}

    <section id="section__hero">
        <div class="column__1">
            <h1>{{item.heroH1}}</h1>
        </div>
    </section>
    <section id="section__form">
        <div class="column__1">
            {% include 'form.njk' %}
        </div>
    </section>
{% endfor %}
</div>

