---
eleventyComputed:
    title: "{{ productos[0].titleseo }}"
    description: "{{ productos[0].descseo }}"
    keywords: "{{ productos[0].keyseo }}"
layout: base.njk
pagination:
  data: collections.productos
  size: 20
  alias: item
permalink: "/desarrollos/" # Para paginación amplia descomentar: permalink: "/desarrollos/{{pagination.pageNumber + 1}}/"
---

<div 
data-barba="container" 
data-barba-namespace="productos" 
data-css="productos" 
data-js="productos">

  <section id="section__hero" class="pad__lr__5">
  </section>
  
  <section id="section__intro" class="pad__all__5">
    <div class="column__1">
      <h2>Productos</h2>
      <ul role="list" class="listado__x3 width__100">
        {% for item in pagination.items %}
        {% include "producto-card.njk" %}
        {% endfor %}
      </ul>
    </div>
  </section>

</div>