---
eleventyComputed:
  title: "{{ inicio[0].titleseo }}"
  description: "{{ inicio[0].descseo }}"
  keywords: "{{ inicio[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div
  data-barba="container"
  data-barba-namespace="inicio"
  data-css="inicio"
  data-js="inicio"
>
  {% for item in inicio %}

  <section id="section__hero" class="pad__lr__5">
    <div class="column__2">
      <div class="col__left flex__justify__c pad__right__5 width__45">
        <h1>{{ item.heroH1 }}</h1>
        <div>{{ item.heroH2 | safe }}</div>
        <p>{{ item.heroP }}</p>
        <a class="btn btn--right btn__hero">{{ item.heroBtn }}  |</a>
      </div>
      <div class="col__right width__55">
        <div class="secondary__img">
          {% if item.heroImgSecond %}
          <picture>
            {% for format, images in item.heroImgSecond %}
            <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
            />
            {% endfor %}
            <img
            src="{{ item.heroImgSecond.jpeg[0].url }}"
            alt="{{ item.heroImgSecondAlt }}"
            /> 
          </picture>
          {% endif %}
        </div>
        <div class="wrapper__shape__hero">
          <div class="shape__hero">
            <video autoplay loop  muted class="shape__hero__video">
              <source src="./assets/video/hero_background.mp4" type="video/mp4">
            </video>

            {% if item.heroImg %}
            <picture>
              {% for format, images in item.heroImg %}
              <source
              srcset="{{ images | srcset }}"
              sizes="(max-width: 1200px) 100vw, 1200px"
              type="image/{{ format }}"
              />
              {% endfor %}
              <img
              src="{{ item.heroImg.jpeg[0].url }}"
              alt="{{ item.heroImgAlt }}"
              />
            </picture>
            {% endif %}
          </div>
          {% if item.heroImg %}
          <picture class="overlay__shape__hero">
            {% for format, images in item.heroImg %}
            <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 1200px) 100vw, 1200px"
            type="image/{{ format }}"
            />
            {% endfor %}
            <img
            src="{{ item.heroImg.jpeg[0].url }}"
            alt="{{ item.heroImgAlt }}"
            />
          </picture>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section id="section__intro" class="pad__all__5">
    <h3 class="pad__lr__5">/Nuestra trayectoria</h3>
    <div class="column__1">
      <div class="timeline" id="timeline">
        {% for proyecto in item.timeline.list %}
        <div class="item">
          {% include 'tooltip-timeline.njk' %}
          <div class="dot"></div>
          <div class="line"></div>
          <h3 class="h3">
            {{ proyecto.title }}
            <br>
            {{ proyecto.year }} 
          </h3>
        </div>
        {% endfor %}
      </div>
     
    </div>
  </section>

  <section id="home_about_via" class="fadeInOut">
    <h3 class="pad__lr__5">/Sobre VIA MX</h3>
    <div class="column__2 pad__tb__5 pad__lr__5">
      <div class="col__left">
        <h2>{{ item.aboutVia.aboutViaH2 }}</h2>
      </div>
      <div class="col__right">
        <p>{{ item.aboutVia.aboutViaRichText1 | safe }}</p>
        <p>{{ item.aboutVia.aboutViaRichText2 | safe }}</p>
      </div>
    </div>
    <div class="column__1 pad__b__5 pad__lr__5">
      <ul role="list" class="flex pad__tb__5">
        {% for list in item.aboutVia.aboutViaDeadNumbers %}
        <li class="flex flex-col">
          <h2>{{ list.number }}</h2>
          <p>{{ list.text }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column__1">
      {% if item.aboutVia.aboutViaImg %}
      <picture>
        {% for format, images in item.aboutVia.aboutViaImg %}
        <source
          srcset="{{ images | srcset }}"
          sizes="(max-width: 900px) 100vw, 900px"
          type="image/{{ format }}"
        />
        {% endfor %}
        <img
          src="{{ item.aboutViaImg.jpeg[0].url }}"
          alt="{{ item.aboutVia.alt }}"
        />
      </picture>
      {% endif %}
    </div>
  </section>

  <section id="home_wySelectUs" class="fadeInOut">
    <div class="column__2 pad__tb__5 pad__lr__5">
      <div class="col__left">
        <h2>{{ item.aboutVia.aboutViaH2 }}</h2>
        <a class="btn btn--down" id="toOurMethod">Nuestra metodología |</a>
      </div>
      <div class="col__right">
        <p>{{ item.aboutVia.aboutViaRichText1 | safe }}</p>
        <p>{{ item.aboutVia.aboutViaRichText2 | safe }}</p>
      </div>
    </div>
  </section>

  <section id="home_ourMethod" class="pad__lr__5 fadeInOut">
    <h3>/Nuestra metodología</h3>
    <div class="column__2 pad__tb__5">
      <div class="col__left pad__right__10">
        <ul role="list">
          {% for list in item.ourMethod.ourMethodSteps %}
          <li>
            <h2>{{ list.title }}</h2>
            <div>
              <p>{{ list.number }}</p>
              <p>{{ list.description }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col__right pad__left__10">
        <h2>{{ item.ourMethod.ourMethodH2 }}</h2>
        <p>{{ item.ourMethod.ourMethodRichText | safe }}</p>
        {% if item.ourMethod.ourMethodImg %}
        <picture>
          {% for format, images in item.ourMethod.ourMethodImg %}
          <source
            srcset="{{ images | srcset }}"
            sizes="(max-width: 900px) 100vw, 900px"
            type="image/{{ format }}"
          />
          {% endfor %}
          <img
            src="{{ item.ourMethodImg.jpeg[0].url }}"
            alt="{{ item.ourMethod.alt }}"
          />
        </picture>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="home_testy" class="pad__lr__5 pad__tb__5 fadeInOut">
    <h3>/Testimonios</h3>
    <div class="column__2">
      <div class="col__left">
        <h2>{{ item.testy.testyH2 }}</h2>
      </div>
      <div class="col__right">

        <div class="swiper testimonials-swiper max1200">
          <div class="swiper-wrapper">
            {% for list in item.testy.testyList %}
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="testy__card">
                <div>{{ list.text | safe }}</div>
                <h3>{{ list.name }}</h3>
                <div class="stars-container">
                  <svg viewBox="0 0 24 24"">
                    <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    />
                  </svg>
                  <svg viewBox="0 0 24 24"">
                    <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    />
                  </svg>
                  <svg viewBox="0 0 24 24"">
                    <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    />
                  </svg>
                  <svg viewBox="0 0 24 24"">
                    <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                    />
                  </svg>
                  <svg viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                  />
                </svg>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section id="section__productos" class="pad__all__5">
    <div class="column__1">
      <h2>Productos destacados</h2>
      <ul
        role="list"
        class="listado__x3 width__100 pad__top__5 recentProducts__list"
      >
        {% for item in item.recentProdRef.recentProducts %} {% include
        "producto-card.njk" %} {% endfor %}
      </ul>
      <a href="/desarrollos" class="btn btn--right">Ver todos los proyectos | </a>
    </div>
  </section>

  {% endfor %}
</div>
<script>
  const swiper = new Swiper(".testimonials-swiper", {
    // Mostrar 2 slides a la vez
    slidesPerView: 2,
    //loop
    loopFillGroupWithBlank: true,
    loop: true,
    // Espacio entre slides
    spaceBetween: 30,
    // Navegación
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    // Paginación
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // Responsive breakpoints
    breakpoints: {
      // Cuando el ancho de la ventana es >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      // Cuando el ancho de la ventana es >= 768px
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
    },
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
      const timeline = document.getElementById("timeline");
      const divItems = Array.from(timeline.children); // Convertimos NodeList a Array para manejarlo mejor
      let itemsPerWrapper = 5;

      // Función para actualizar el contenido basado en la cantidad de elementos por fila
      const updateTimeline = (itemsPerWrapper) => {
          // Eliminamos los elementos del timeline antes de reinsertarlos en sus wrappers
          timeline.innerHTML = '';

          // Agrupamos en wrappers cada `itemsPerWrapper` elementos
          for (let i = 0; i < divItems.length; i += itemsPerWrapper) {
              const wrapper = document.createElement("div");
              wrapper.className = "list";

              // Tomamos un grupo de `itemsPerWrapper` elementos y los agregamos al wrapper
              const group = divItems.slice(i, i + itemsPerWrapper);
              group.forEach(item => wrapper.appendChild(item));

              // Insertamos el wrapper al timeline
              timeline.appendChild(wrapper);
          }
      };

      const adjustItemsPerWrapper = () => {
          const ipadScreen = window.matchMedia("(max-width: 1024px)");
          const iphoneScreen = window.matchMedia("(max-width: 768px)");

          if (iphoneScreen.matches) {
              itemsPerWrapper = 2;
          } else if (ipadScreen.matches) {
              itemsPerWrapper = 3;
          } else {
              itemsPerWrapper = 5;
          }
          
          updateTimeline(itemsPerWrapper);
      };

      adjustItemsPerWrapper();

      window.addEventListener("resize", adjustItemsPerWrapper);
  });
</script>

<script>
  const bulletLine = document.querySelectorAll(".dot");
  const tooltip = document.querySelectorAll(".tooltip");

  bulletLine.forEach((bullet, idx) => {
    bullet.addEventListener("mouseenter", () => {
  
      tooltip.forEach((t) => t.classList.remove("tooltipOnDisplay"));

      tooltip[idx].classList.add("tooltipOnDisplay");
    });

    bullet.addEventListener("mouseleave", () => {
      tooltip[idx].classList.remove("tooltipOnDisplay");
    });
  });
</script>

